a {
    color: blue;
    cursor: pointer;
}

.panel {
    > div {
        float: left;
        width: 50%;
        padding: 20px;
        box-sizing: border-box;

        &:first-child {
            border-right: solid 1px #999;
        }
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.active {
    background-color: lightblue;
}