@media only screen and (min-width: 600px) {
  /*For tablets*/
  .col-M1 {
    width: 8.33%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M2 {
    width: 16.66%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M3 {
    width: 24.99%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M4 {
    width: 33.32%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M5 {
    width: 41.65%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M6 {
    width: 49.98%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M7 {
    width: 58.31%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M8 {
    width: 66.64%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M9 {
    width: 74.97%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M10 {
    width: 83.3%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M11 {
    width: 91.63%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-M12 {
    width: 99.96%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
}
@media only screen and (max-width: 600px) {
  /*For movile*/
  .col-S1 {
    width: 8.33%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S2 {
    width: 16.66%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S3 {
    width: 24.99%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S4 {
    width: 33.32%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S5 {
    width: 41.65%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S6 {
    width: 49.98%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S7 {
    width: 58.31%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S8 {
    width: 66.64%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S9 {
    width: 74.97%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S10 {
    width: 83.3%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S11 {
    width: 91.63%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-S12 {
    width: 99.96%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
}
html, body {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .col-D1 {
    background-color: #fe241f;
    width: 8.33%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D2 {
    background-color: #fe241f;
    width: 16.66%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D3 {
    background-color: #fe241f;
    width: 24.99%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D4 {
    background-color: #fe241f;
    width: 33.32%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D5 {
    background-color: #fe241f;
    width: 41.65%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D6 {
    background-color: #fe241f;
    width: 49.98%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D7 {
    background-color: #fe241f;
    width: 58.31%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D8 {
    background-color: #fe241f;
    width: 66.64%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D9 {
    background-color: #fe241f;
    width: 74.97%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D10 {
    background-color: #fe241f;
    width: 83.3%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D11 {
    background-color: #fe241f;
    width: 91.63%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
  .col-D12 {
    background-color: #fe241f;
    width: 99.96%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
  }
}
.col-1 {
  background-color: aliceblue;
  width: 8.33%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-2 {
  background-color: aliceblue;
  width: 16.66%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-3 {
  background-color: aliceblue;
  width: 24.99%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-4 {
  background-color: aliceblue;
  width: 33.32%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-5 {
  background-color: aliceblue;
  width: 41.65%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-6 {
  background-color: aliceblue;
  width: 49.98%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-7 {
  background-color: aliceblue;
  width: 58.31%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-8 {
  background-color: aliceblue;
  width: 66.64%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-9 {
  background-color: aliceblue;
  width: 74.97%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-10 {
  background-color: aliceblue;
  width: 83.3%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-11 {
  background-color: aliceblue;
  width: 91.63%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

.col-12 {
  background-color: aliceblue;
  width: 99.96%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px;
}

form {
  position: relative;
}

.container {
  background-color: aqua;
  width: 100%;
  padding: 10px;
  height: 200px;
}

html, body {
  padding: 0;
  margin: 0;
}
