
$small-color: #7fff00;
$medium-color:#e2ff1f;
$big-color:   #fe241f;

@mixin general_rules {
    margin:  0px;
    padding: 0px;
}
@mixin small_rule{
    
    background-color: $small-color;
    
}
@mixin medium_rule{

    background-color:$medium-color;
}
@mixin big_rule{

    background-color:$big-color;

}