@import "mixings";
@import "tablet";
@import "movile";
@import "desktop";
$default_color:aliceblue;



  @for $i from 1 through 12{
      .col-#{$i}{
          background-color: $default_color;
          width: 8.33%*$i;
         
          height: 100%;
         // float: left;
          box-sizing: border-box;
          display: inline-block;
          border: solid 1px;
          
      }
  }
form{
  position: relative;


}
// .hijo {
//   width:600px;
//   height:50px;
 
//   /* centrar vertical y horizontalmente */
//   position: absolute;
  
//   left: 50%;

//   margin: -10px 0 0 -300px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
// }



.container{
    
    background-color: aqua;
    width: 100%;
    padding: 10px;
    height: 200px;
}



  html, body {
    padding:0;
    margin:0;
}